@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import "font-awesome";

.booyah-box{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body{
  background: image_url('xv.png');
  /* Modern Georgia-based serif stack */
  font-family: 'Fugaz One', cursive;
}

.navbar{
  background: image_url('grey_wash_wall.png');
  box-shadow: 0px 1px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family:'Fugaz One', cursive;

}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.help-block{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}
.pagination{
  position: center;
  margin: 0 auto;
}

#map {
  height: 300px;
}
.clear {
  clear: both;
}
